h1{
    color: #F58F29;
    text-align: center;
    margin: 4rem 0 7rem 0;
}

h2{
  color: #748067;
}

.myRecipies__box{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  width: 100%;
}

.myRecipies__boxItem img{
  height: 12.375rem;
  width: 90%;
  object-fit: cover;
  justify-content: center;
}

.myRecipies__boxItem {
    width: 200px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 2.75rem;
  }

  h5{
    text-align: center;
    margin: 3% 0 2% 0;
}

span{
    font-size: 0.89rem;
    margin-top: 0;
}

.myRecipies__boxItemButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .myRecipies__boxItemButton {
    background-color: transparent !important;    
    border: none !important;
    border-radius: 0;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
    transition: all 150ms ease-in-out;
  }
  
  .myRecipies__boxItemButton--edit {
    color: #748067;
  }
  
  .myRecipies__boxItemButton--delete {
    color: #660f00;
  }

  .myRecipies__boxItemButton:hover {
    font-weight: 550;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .no_favourites{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
  }
  
  .no_favourites *{
    width: 100%;
  }

@media (max-width: 1144px) {
  .myRecipies__box {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 900px) {
  .myRecipies__box {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 700px) {
  .myRecipies__box {
    grid-template-columns: auto auto;
  }
  .myRecipies__boxItem img{
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .myRecipies__box {
    grid-template-columns: auto;
  }
}
