h1{
    color: #F58F29;
    text-align: center;
    margin: 4rem 0 7rem 0;
}

h2{
  color: #748067;
}

.myRecipies__box{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.myRecipies__boxItem img{
  height: 12.375rem;
  width: 90%;
  object-fit: cover;
}

.myRecipies__boxItem {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  }
.myRecipies__boxItem:hover{
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

  h5{
    text-align: center;
    margin: 3% 0 2% 0;
}

span{
    font-size: 0.89rem;
    margin-top: 0;
}

.myRecipies__boxItemButtons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-self: baseline;
  }
  
  .myRecipies__boxItemButton {
    background-color: transparent !important;    
    border: none !important;
    border-radius: 0;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
    transition: all 150ms ease-in-out;
  }
  
  .myRecipies__boxItemButton--edit {
    color: #748067;
  }
  
  .myRecipies__boxItemButton--delete {
    color: #660f00;
  }

  .myRecipies__boxItemButton:hover {
    text-decoration: underline;
    transition: all 150ms ease-in-out;
  }
  
  .no_favourites{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
  }
  
  .no_favourites *{
    width: 100%;
  }

@media (max-width: 1144px) {
  .myRecipies__box {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 900px) {
  .myRecipies__box {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 700px) {
  .myRecipies__box {
    grid-template-columns: auto auto;
  }
  .myRecipies__boxItem img{
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .myRecipies__box {
    grid-template-columns: auto;
  }
}
