<div class="profile" *ngIf="activeUser" > <!--*ngIf="activeUser" -> osigurava da se stranica prikaže samo ako je korisnik ulogiran -->
    <h1>Detalji profila</h1>

    <div class="profile__info">
        <h2>Korisnički detalji</h2>
        <div class="profile__info-grid">
          <span>Korisničko ime</span>
          <input type="text" name="username" [(ngModel)]="username" disabled required />
          <span>Adresa elektroničke pošte</span>
          <input type="email" name="email" [(ngModel)]="email" disabled required />
        </div>
    </div>

    <div class="profile__links">
        <h2>Korisne poveznice</h2>
        <a routerLink="uredivanje-profila">
          <button>
            Uredi profil
          </button>
        </a>
        <br/>
        <a routerLink="moji-recepti">
          <button>
            Moji recepti
          </button>
        </a>
        <br/>
        <a routerLink="moji-favoriti">
          <button>
            Moji favoriti
          </button>
        </a>
        <br/>
        <a routerLink="novi-recept">
          <button>
            Dodaj novi recept
          </button>
        </a>
        <br/>
    </div>
</div>