<div class="profile" *ngIf="activeUser" > <!--*ngIf="activeUser" -> osigurava da se stranica prikaže samo ako je korisnik ulogiran -->
    <h1>Detalji profila</h1>

    <div class="profile__info">
        <h2>Korisnički detalji</h2>
        <table>
            <tr>
              <td>Korisničko ime</td>
              <td>       
                <div class="user-box">
                    <input type="text" name="username" [(ngModel)]="username" required />
                </div>
              </td>
            </tr>
            <tr>
              <td>Adresa elektroničke pošte</td>
              <td>
                <div class="user-box">
                  <input type="email" name="email" [(ngModel)]="email" required />
                </div>
              </td>
            </tr>
        </table>
    </div>

    <div class="profile__links">
        <h2>Korisne poveznice</h2>
        <a routerLink="uredivanje-profila">Uredi profil</a><br/>
        <a routerLink="moji-recepti">Moji recepti</a><br/>
        <a routerLink="moji-favoriti">Moji favoriti</a><br/>
        <a routerLink="novi-recept">Dodaj novi recept</a><br/>
    </div>
</div>