h1{
  color: #F58F29;
  text-align: center;
  margin: 4rem 0 7rem 0;
}

h2{
  color: #748067;
}

.homepagebox__recipes{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  width: 100%;
}

.homepagebox__recipe img{
  height: 12.375rem;
  width: 90%;
  object-fit: cover;
  justify-content: center;
}

.no_favourites{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 15%;
}

.no_favourites *{
  width: 100%;
}

.homepagebox__recipe {
    width: 200px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 2.75rem;
}

.homepagebox__recipe:hover {
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

h5{
  text-align: center;
  margin-top: 5%;
}

span{
  font-size: 0.89rem;
  margin-top: 0;
}

@media (max-width: 1144px) {
  .homepagebox__recipes {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 900px) {
  .homepagebox__recipes{
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 600px) {
  .homepagebox__recipes {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 400px) {
  .homepagebox__recipes {
    grid-template-columns: auto;
  }
}

