<div class="signup-box">
  <h1>Registracija</h1>
  <div class="formDiv">
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="user-box">
        <input type="text" name="username" [(ngModel)]="username" required />
        <label>Korisničko ime</label>
      </div>
      <div class="user-box">
        <input type="email" name="email" [(ngModel)]="email" required />
        <label>Email</label>
      </div>
      <div class="user-box">
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" required />
        <label>Lozinka</label>
        <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
          <i [ngClass]="isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"
             [matTooltip]="isPasswordVisible ? 'Sakrij lozinku' : 'Prikaži lozinku'" matTooltipPosition="above"></i>
        </span>
      </div>
      <div class="user-box">
        <input [type]="isRepeatPasswordVisible ? 'text' : 'password'" id="passwordRepeat" [(ngModel)]="passwordRepeat" name="passwordRepeat" required />
        <label>Ponovite lozinku</label>
        <span class="password-toggle-icon" (click)="toggleRepeatPasswordVisibility()">
          <i [ngClass]="isRepeatPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"
             [matTooltip]="isRepeatPasswordVisible ? 'Sakrij lozinku' : 'Prikaži lozinku'" matTooltipPosition="above"></i>

        </span>
      </div>
      <button type="submit">
        Registriraj se
      </button>
    </form>
  </div>
  <div class="signupBox__redirect">
    <p>Imaš korisnički račun? <a routerLink="/profil/prijava">Prijavi se</a></p>
  </div>
</div>
