<div class="admin-container">
    <h1 class="admin-title">Upravljanje korisnicima</h1>

    <div class="search-container">
        <div class="search-bar">
            <input type="text" placeholder="Filtriraj popis po korisničkom imenu ili emailu" [(ngModel)]="searchTerm"
                (ngModelChange)="filterUsers()">
        </div>
    </div>

    <div class="table-wrapper">
        <div class="table-responsive">
            <table class="users-table">
                <thead>
                    <tr>
                        <th>Korisničko ime</th>
                        <th>Email</th>
                        <th>Uloga</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of filteredUsers" [class.blocked-row]="user.is_blocked">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td class="actions">
                            <button class="btn-block" [ngClass]="{'unblock': user.is_blocked}"
                                (click)="toggleBlockUser(user)" *ngIf="user.role !== 'admin'">
                                {{ user.is_blocked ? 'Odblokiraj' : 'Blokiraj' }}
                            </button>
                            <button class="btn-delete" (click)="deleteUser(user)" *ngIf="user.role !== 'admin'">
                                Obriši
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="filteredUsers.length === 0" class="no-results">
                Nema pronađenih korisnika.
            </div>
        </div>
    </div>
</div>
