 <div class="container">
  <nav class="navigation">
      <div class="navigation home mainTile">
        <a routerLink="/">
          <img src="../assets/media/Logo.png" alt="Logo"/>
          Kuharica
        </a>
      </div>
      <div class="navigation secondary">
        <div class="navigation search">
          <span><a routerLink="search">Pretraži recepte</a></span>
        </div>
        <div class="navigation profile">
          <span><a routerLink="profile/login">Prijava</a></span>
        </div>
        <div class="navigation search">
          <span><a routerLink="profile/signup">Registracija</a></span>
        </div>
      </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
    <div class="container">
      <h5>Kuharica</h5>
      <p>Svi recepti na jednom mjestu</p>
      <p>Copyright &#64; Tim 11 - Sirovica, Vignjević, Janeš, Ivanišević</p>
    </div>
</footer>
