.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

.home a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

  .home a, .secondary a{
    font-size: 1rem;
    color: var(--Red);
  }

  .home img{
    width: 60px;
    padding-right: 20px;
  }

  .secondary {
    display: flex;
  }

  .secondary > div {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    position: relative;
  }

  footer {
    width: 100%;
    background-color: #748067;
    color: #FFFFFB;
    text-align: left;
  }

  footer > .container{
    padding: 100px 0;
  }

  footer > h5{
    color: #FFFFFB;
  }
