 <div class="container">
  <nav class="navigation">
      <div class="navigation home mainTile">
        <a routerLink="/">
          Kuharica
        </a>
      </div>
      <div class="navigation secondary">
        <div class="navigation profile">
          <span><a routerLink="profile/login">Prijava</a></span>
        </div>
        <div class="navigation search">
          <span><a routerLink="profile/signup">Registracija</a></span>
        </div>
      </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
    <div class="container">
      <p><b>Kuharica</b></p>
      <p><b>Svi recepti na jednom mjestu</b></p>
      <p><b>Copyright &#64; Tim 11 - Sirovica, Vignjević, Janeš, Ivanišević</b></p>
    </div>
</footer>
