<div class="editProfile" *ngIf="activeUser" >  <!--*ngIf="activeUser" -> osigurava da se stranica prikaže samo ako je korisnik ulogiran -->
    <a routerLink="../">Natrag na detalje ← </a>
    <h1>Uredi profil</h1>
    <h2>Korisnički detalji</h2>
    <div class="editProfile__form">
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <span>Korisničko ime</span>
        <div class="user-box">
          <input type="text" name="username" [(ngModel)]="username" required />
        </div>
        <span>Adresa elektroničke pošte</span>
        <div class="user-box">
          <input type="email" name="email" [(ngModel)]="email" required />
        </div>
        <span>Lozinka</span>
        <div class="user-box">
            <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" required />
            <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
              <i [ngClass]="isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </span>
        </div>
        <span>Ponovljena lozinka</span>
        <div class="user-box">
          <input [type]="isRepeatPasswordVisible ? 'text' : 'password'" id="passwordRepeat" [(ngModel)]="passwordRepeat" name="passwordRepeat" required />
          <span class="password-toggle-icon" (click)="toggleRepeatPasswordVisibility()">
            <i [ngClass]="isRepeatPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </span>
        </div>
        <button type="submit">
          Potvrdi promjene
        </button>
      </form>
    </div>
</div>
