h1 {
  color: #660f00;
  text-align: center;
  margin-top: 40px;
}


.formDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 40px 0;
  margin: auto;
  margin-top: 80px;
}

.user-box {
  position: relative;
  margin-bottom: 50px;
  width: 500px;
}

.user-box input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.user-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -18px;
  left: 10px;
  font-size: 12px;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 16px;
}

button {
  color: #748067;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-color: #748067;
  border-radius: 9px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  text-align: center;
}

button:hover {
  font-weight: 600;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 500px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider span {
  padding: 0 15px;
  color: #666;
  font-size: 14px;
}

.google-signin-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 500px;
}

#google-signin-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login__redirect{
  text-align: center;
  margin: 44px 0 100px 0;
}

@media (max-width: 1144px) {
  .formDiv{
    width: 60%;
  }
  .user-box,
  .divider,
  .google-signin-container {
    width: 450px;
  }
}

@media (max-width: 900px) {
  .formDiv{
    width: 60%;
  }
  .user-box,
  .divider,
  .google-signin-container {
    width: 400px;
  }
}

@media (max-width: 600px) {
  form,
  .formDiv,
  .user-box,
  .divider,
  .google-signin-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .formDiv{
    width: 95%;
  }
  .user-box {
    width: 300px;
  }
}
