<div class="editRecipe" *ngIf="activeUser">
  <a routerLink="/profil/moji-recepti">
    Natrag na pregled mojih recepata ←
  </a>

  <h1>Uređivanje recepta</h1>

  <div class="editRecipe__form">
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">

      <div class="form-grid">

        <h5>Naziv recepta:</h5>
        <div class="grid-span">
          <div class="user-box">
            <input
              type="text"
              name="recipeName"
              [(ngModel)]="recipe.naslov"
              required
            />
            <label>Unesite naziv</label>
          </div>
        </div>

        <h5>Kategorija:</h5>
        <div class="grid-span">
          <div class="user-box">
            <select
              name="category"
              [(ngModel)]="recipe.kategorija_id"
              required
            >
              <option value="" disabled hidden>Odaberi kategoriju</option>
              <option
                *ngFor="let category of categories"
                [value]="category.id"
              >
                {{ category.ime }}
              </option>
            </select>
          </div>
        </div>

      </div>

      <div class="ingredients-header">
        <h5>Sastojci:</h5>
        <button
          type="button"
          name="buttonAddIng"
          (click)="addIngredientRow()"
        >
          + Dodaj sastojak
        </button>
      </div>

      <div
        class="ingredient-row"
        *ngFor="let ingredient of ingredientsList; let i = index"
      >
        <div class="user-box">
          <select
            name="ingredient{{ i }}"
            [(ngModel)]="ingredientsList[i].id"
            required
          >
            <option value="" disabled hidden>Odaberi sastojak</option>
            <option *ngFor="let ing of ingredients" [value]="ing.id">
              {{ ing.ime }}
            </option>
          </select>
        </div>

        <div class="user-box">
          <input
            type="text"
            name="ingredientTotal{{ i }}"
            [(ngModel)]="ingredientsList[i].quantity"
            required
          />
          <label>Unesite količinu</label>
        </div>

        <button
          type="button"
          name="buttonRemoveIng"
          (click)="removeIngredientRow(i)"
        >
          ✖
        </button>
      </div>

      <div class="form-grid single-row">
        <h5>Fotografija:</h5>
        <div class="grid-span">
          <div class="user-box">
            <input
              type="file"
              name="photo"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        </div>
      </div>

      <div class="procedure">
        <h5>Postupak:</h5>
        <div class="user-box">
          <textarea
            name="recipeProcedure"
            [(ngModel)]="recipe.upute"
            required
          ></textarea>
        </div>
      </div>

      <button type="submit">
        Spremi recept
      </button>

    </form>
  </div>
</div>
