h1 {
  color: #f58f29;
  text-align: center;
  margin: 4rem 0 5rem 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  width: 90%;
  margin: 0 auto 2rem;
}

.grid-span {
  grid-column: 2 / -1;
}

.single-row {
  margin-top: 2rem;
}

.ingredients-header {
  width: 90%;
  margin: 2rem auto 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient-row {
  width: 90%;
    margin: 2rem auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr auto;
  gap: 1rem;
  align-items: center;
}

.procedure {
  width: 90%;
  margin: 2rem auto;
}

.user-box {
  position: relative;
  width: 100%;
}

.user-box input,
.user-box select,
.user-box textarea {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #111517;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: #111517;
}

.user-box textarea {
  min-height: 6rem;
  resize: vertical;
}

.user-box select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23000' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

.user-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

button {
  font-family: Merienda;
  font-size: 1.1rem;
  color: #660f00;
  border: 1px solid #660f00;
  padding: 0.4rem;
  margin: 3rem auto 6rem;
  display: block;
  width: 15rem;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  font-size: 1.25rem;
  transform: scale(1.05);
}

button[name="buttonAddIng"],
button[name="buttonRemoveIng"] {
  width: max-content;
  margin: 0;
  color: #f58f29;
  border-color: #f58f29;
}

@media (max-width: 900px) {

  h1 {
    margin: 2rem 0 3rem;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .grid-span {
    grid-column: 1;
  }

  .ingredients-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .ingredient-row {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  button {
    width: 100%;
    max-width: 18rem;
  }

  button[name="buttonRemoveIng"] {
    width: max-content;
  }
}
