<div class="homepage">
    <div class="homepagebox">
        <h2>Nešto slatko...</h2>
        <div class="homepagebox__recipes">
            <div class="homepagebox__recipe">
                <img src="../../assets/media/Choco.png"/>
                <div class="homepagebox__recipeInfo">
                    <span>Korisnik</span>
                    <h5>Čokoladna torta</h5>
                </div>
            </div>
            <div class="homepagebox__recipe">
                <img src="../../assets/media/Choco.png"/>
                <div class="homepagebox__recipeInfo">
                    <span>Korisnik</span>
                    <h5>Čokoladna torta</h5>
                </div>
            </div>
            <div class="homepagebox__recipe">
                <img src="../../assets/media/Choco.png"/>
                <div class="homepagebox__recipeInfo">
                    <span>Korisnik</span>
                    <h5>Čokoladna torta</h5>
                </div>
            </div>
            <div class="homepagebox__recipe">
                <img src="../../assets/media/Choco.png"/>
                <div class="homepagebox__recipeInfo">
                    <span>Korisnik</span>
                    <h5>Čokoladna torta</h5>
                </div>
            </div>
            <div class="homepagebox__recipe">
                <img src="../../assets/media/Choco.png"/>
                <div class="homepagebox__recipeInfo">
                    <span>Korisnik</span>
                    <h5>Čokoladna torta</h5>
                </div>
            </div>
        </div>
    </div>
</div>
