h2 {
  color: #f58f29;
}

.homepagebox__recipe img {
  height: 12.375rem;
  width: 90%;
  object-fit: cover;
  justify-content: center;
}

.homepagebox__recipe {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepagebox__recipe:hover {
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

.homepagebox__recipeInfo {
  width: 90%;
}

h5 {
  text-align: center;
  margin-top: 5%;
}

span {
  font-size: 0.89rem;
  margin-top: 0;
}

.homepage-swiper {
  --swiper-navigation-color: #f58f29;
}

.homepage-swiper::part(button-next),
.homepage-swiper::part(button-prev) {
  background: #fffffb;
  padding: 1rem;
  border-radius: 4rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.homepage-swiper::part(button-next)::after,
.homepage-swiper::part(button-prev)::after {
  font-size: 1.2rem;
}

.homepage-swiper::part(button-next):hover,
.homepage-swiper::part(button-prev):hover {
  transform: scale(1.1);
}


@media (max-width: 600px) {
  .homepagebox__recipe img {
    height: 20rem;
  }
}