h2 {
  color: #f58f29;
}

.homepagebox__recipe img {
  height: 12.375rem;
  width: 90%;
  object-fit: cover;
}

.homepagebox__recipe {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepagebox__recipe:hover {
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

.homepagebox__recipeInfo {
  width: 90%;
}

h5 {
  text-align: center;
  margin-top: 5%;
}

span {
  font-size: 0.89rem;
  margin-top: 0;
}

.homepage-swiper {
  --swiper-navigation-color: #748067;
  --swiper-scrollbar-drag-bg-color: #748067;
  --swiper-scrollbar-bg-color: #e0e0e0;
}
