.comments-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid #e8e1d6;
}

.add-comment {
    padding: 2rem 0;
}

.add-comment textarea {
    width: 100%;
    box-sizing: border-box;

    background-color: #fffdf8;
    border: 1px solid #e7dcc8;
    border-radius: 14px;
    padding: 14px;

    font-size: 0.95em;
    font-family: "InclusiveSans-Regular";
}

textarea:focus {
    outline: none;
    border-color: #F58F29;
    box-shadow: 0 0 0 2px rgba(245, 143, 41, 0.15);
}

button {
    align-self: flex-start;
    padding: 9px 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.2s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #e6dccb;
}

.comment-header strong {
    font-family: "InclusiveSans-Regular";
    font-weight: 600;
    color: #b7651f;
}

.comment-date {
    font-size: 0.75em;
    color: #a59b8c;
}

.comment-text {
  margin: 0 0 14px 0;
    color: #4b4b4b;
    line-height: 1.6;
    font-size: 0.95em;
}

.edit-mode textarea{
    margin: 0 0 14px 0;
    color: #4b4b4b;
    line-height: 1.6;
    font-size: 0.95em;
    font-family: "InclusiveSans-Regular";
    border: none;
        background-color: #fffdf8;
}

/* Actions */
.comment-actions {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
}
.action-btn {
    background: none;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 0.85em;
    letter-spacing: 0.3px;
    font-size: 0.8em;
    color: #b9a894;
    cursor: pointer;
}


.delete-btn {
    color: #cc0000;
    border-color: #ffcccc;
}

.delete-btn:hover {
    color: #660f00;
    background-color: hsl(9, 100%, 90%);
}

.edit-btn{
    color: hsl(89, 100%, 29%);
}

.edit-btn:hover{
    color: #748067;
    background-color: hsl(89, 11%, 90%);
}

.edit-mode textarea {
    margin-bottom: 10px;
    width: 97%;
}

.edit-actions {
    display: flex;
    gap: 10px;
}

.save-btn {
    background-color: #28a745;
}

.cancel-btn {
    background-color: #6c757d;
}

.login-prompt a {
    color: #F58F29;
    text-decoration: none;
}

.no-comments {
    color: #888;
    font-style: italic;
    margin-top: 1rem;
}

.add-comment button {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 0.85em;
    letter-spacing: 0.3px;
}

.add-comment button:not(:disabled){
    background-color: #F58F29;
}

.add-comment button:hover:not(:disabled){
    background-color: hsl(30, 91%, 45%);
}